/*************************************************
 *  Based off of Hugo Academic, designed by @GeorgeCushen
 *  https://github.com/gcushen/hugo-academic
 **************************************************/

html {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  line-height: 1.65;
}

body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  padding-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

a {
  color: #0095eb;
  text-decoration: none;
  transition: color 0.6s ease;
}

a:hover,
a:focus {
  color: #005181;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home-section {
  background-color: rgb(255, 255, 255);
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

#profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

#profile .portrait {
  background-image: url('../img/me.jpg');
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

#profile .portrait-title h2 {
  font-size: 1.75em;
  font-weight: 300;
  color: #000000;
  margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
  font-size: 1.25em;
  font-weight: 300;
  color: #AAAAAA;
  margin: 0px 0 10px 0;
}

#profile ul.social-icon {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#profile .social-icon li {
  margin-right: 10px;
}

#profile .social-icon li:hover {
  transform: scale(1.2)
}

@media screen and (max-width: 991px) {
    body {
        margin: 2em 0;
    }

    #about-section {
        padding: 0 6em;
    }
}

@media screen and (min-width: 992px) {
    #home-section {
        display: flex;
        height: 100vh;
        align-items: center;
    }
}

